streamlit
openai
langchain==0.0.330
llama-index
pypdf
faiss-cpu
chromadb
gTTS
SpeechRecognition
transformers
sentence-transformers
googletrans==4.0.0-rc1
watchdog
tiktoken
deep-translator
pydantic==1.10.13

